body {
  background-image: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  opacity: ;
  color: 000000;
  font-family: Arial, Helvetica, sans-serif;
}

.exp-personal {
  
}
