body {
  background-image: linear-gradient(RoyalBlue, MediumPurple);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Lucida Console, Helvetica, sans-serif;
  margin: 10% 15%;
}

.personal {
  text-align: center;
  text-shadow: 2px 2px 4px #FFFF;
}


h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.corpo-info {
  line-height: 0.5;
}

.job {
  text-transform: uppercase;
  border-top: 3px solid ;
  border-bottom: 3px solid;
  text-align: center;
}

.edu {
  text-transform: uppercase;
  border-top: 3px solid ;
  border-bottom: 3px solid;
  text-align: center;
}

.footer {
  padding-top: 1px;
  border-top: double;
  text-align: right;
}

.school {
  margin-bottom: 45px;
}
